body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #eef5ff;
}

/* OPENING */
.opening {
    height: 100vh;
    background: linear-gradient(135deg,#4facfe,#003366);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
}

.opening img {
    width: 120px;
}

.opening button {
    padding: 12px 25px;
    border-radius: 20px;
    border: none;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #003366;
    color: white;
}

.logo-area {
    display: flex;
    align-items: center;
}

.logo-area img {
    width: 40px;
    margin-right: 10px;
}

/* HERO */
.hero {
    height: 100vh;
    text-align: center;
    padding-top: 200px;
    background: linear-gradient(to right,#4facfe,#00c6ff);
    color: white;
}

/* GRID */
.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* CARD */
.card {
    background: white;
    margin: 15px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input, select {
    margin: 10px;
    padding: 12px;
    border-radius: 10px;
}

/* BUTTON */
.btn {
    background: #003366;
    color: white;
    padding: 12px;
    border-radius: 20px;
    border: none;
}

/* FOOTER */
footer {
    background: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}

/* HIDDEN */
#main {
    display: none;
}
.wa {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    padding: 15px;
    border-radius: 50px;
    text-decoration: none;
}